
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td blink
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/go/blink'
      %td.links
    %tr
      %td blinkm
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/go/blinkm'
      %td.links
    %tr
      %td led_brightness
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/go/led_brightness'
      %td.links
    %tr
      %td led_brightness_with_analog_input
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/go/led_brightness_with_analog_input'
      %td.links
    %tr
      %td servo
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/go/servo'
      %td.links
