
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td blink
      %td.links= link_to 'Code', '/documentation/examples/digispark/go/blink'
      %td.links
    %tr
      %td digispark_api
      %td.links= link_to 'Code', '/documentation/examples/digispark/go/digispark_api'
      %td.links
    %tr
      %td led_brightness
      %td.links= link_to 'Code', '/documentation/examples/digispark/go/led_brightness'
      %td.links
    %tr
      %td servo
      %td.links= link_to 'Code', '/documentation/examples/digispark/go/servo'
      %td.links
