
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td blink
      %td.links= link_to 'Code', '/documentation/examples/firmata/go/blink'
      %td.links
    %tr
      %td blinkm
      %td.links= link_to 'Code', '/documentation/examples/firmata/go/blinkm'
      %td.links
    %tr
      %td button
      %td.links= link_to 'Code', '/documentation/examples/firmata/go/button'
      %td.links
    %tr
      %td cat_toy
      %td.links= link_to 'Code', '/documentation/examples/firmata/go/cat_toy'
      %td.links
    %tr
      %td hmc6352
      %td.links= link_to 'Code', '/documentation/examples/firmata/go/hmc6352'
      %td.links
    %tr
      %td led_brightness
      %td.links= link_to 'Code', '/documentation/examples/firmata/go/led_brightness'
      %td.links
    %tr
      %td led_brightness_with_analog_input
      %td.links= link_to 'Code', '/documentation/examples/firmata/go/led_brightness_with_analog_input'
      %td.links
    %tr
      %td makey_button
      %td.links= link_to 'Code', '/documentation/examples/firmata/go/makey_button'
      %td.links
    %tr
      %td motor
      %td.links= link_to 'Code', '/documentation/examples/firmata/go/motor'
      %td.links
    %tr
      %td servo
      %td.links= link_to 'Code', '/documentation/examples/firmata/go/servo'
      %td.links
    %tr
      %td travis
      %td.links= link_to 'Code', '/documentation/examples/firmata/go/travis'
      %td.links
    %tr
      %td wiichuck
      %td.links= link_to 'Code', '/documentation/examples/firmata/go/wiichuck'
      %td.links
