
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td blink
      %td.links= link_to 'Code', '/documentation/examples/gobot/go/blink'
      %td.links
    %tr
      %td hello
      %td.links= link_to 'Code', '/documentation/examples/gobot/go/hello'
      %td.links
    %tr
      %td hello_api
      %td.links= link_to 'Code', '/documentation/examples/gobot/go/hello_api'
      %td.links
    %tr
      %td sphero
      %td.links= link_to 'Code', '/documentation/examples/gobot/go/sphero'
      %td.links
    %tr
      %td sphero_api
      %td.links= link_to 'Code', '/documentation/examples/gobot/go/sphero_api'
      %td.links
    %tr
      %td sphero_master
      %td.links= link_to 'Code', '/documentation/examples/gobot/go/sphero_master'
      %td.links
