
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td blink
      %td.links= link_to 'Code', '/documentation/examples/spark/go/blink'
      %td.links
    %tr
      %td button
      %td.links= link_to 'Code', '/documentation/examples/spark/go/button'
      %td.links
    %tr
      %td led_brightness
      %td.links= link_to 'Code', '/documentation/examples/spark/go/led_brightness'
      %td.links
    %tr
      %td spark_api
      %td.links= link_to 'Code', '/documentation/examples/spark/go/spark_api'
      %td.links
