- wrap_layout :layout do
  = partial "layouts/contents-blog"
  .main.blog{:role => "main"}
    .articles
      .article
        - if is_blog_article?
          = partial "blog/header", {locals: { article: current_article } }
          = yield
        - else 
          = yield
    .side-column
      .categories
        %h4 Tags
        = yield_content :tags
      .network
        %h4 Network
        = yield_content :network
      .titles
        %h4 Posts
        %ul 
          = partial "blog/sidebar_links", {locals: { article: current_article } }