%html
  %head
    = partial "/hybridpages/partials/layouts/head"
    %link{href: "//fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:700", rel: "stylesheet"}
    %link{href: '/favicon.ico', rel: 'shortcut icon', type: 'image/gif' }/
  %body
    = partial "layouts/layout-contents"
    .app
      .w
        %header.app-header{role: "banner"}
          .display
            = partial "/hybridpages/partials/layouts/app-logo"

          %span.menu
            = yield_content :menu

      - if current_page.data.hero == true
        = partial "/hybridpages/partials/widgets/hero"

      - if current_page.data.social == true
        = partial "/hybridpages/partials/widgets/social"
            
      - if current_page.data.page_title_show == true
        = partial "/hybridpages/partials/widgets/page_title" 

      .container
        = yield

      - if current_page.data.catcher == true
        = partial "/hybridpages/partials/widgets/catcher" 
        
    %footer.app-footer
      = yield_content :footer


