---
title: Arduino with Cylon.js
author: The Hybrid Group
page_title: Arduino
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-firmata' target='blanck' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/cylon-firmata/issues' target='blanck'>Issues</a>"
layout: page
---
.documentation
  %section.intro
    = image_tag "/images/arduino.jpg", class: "display"

    %p
      Arduino is an open-source electronics prototyping platform based on flexible,
      easy-to-use hardware and software. It's intended for artists, designers, hobbyists and
      anyone interested in creating interactive objects or environments.

    %p
      For more info about the arduino platform click
      = succeed "." do
        = link_to "here", "http://arduino.cc/", target: :blank

    

  %section.how_to
    %h2 How to install
    %p
      Installing Cylon.js with Arduino support is pretty easy.
    :markdown
          :::ruby
          npm install cylon-firmata
    %h2 How to use
    %p
      This small program lets you push a button on the arduino board to turn a LED on or off. In less than 10 lines of code using Cylon.js.
    %h3 Javascript  
    :markdown
          :::javascript
          var Cylon = require('cylon');

          Cylon.robot({
            connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
            devices: [{name: 'led', driver: 'led', pin: 13},
                     {name: 'button', driver: 'button', pin: 2}],

            work: function(my) {
              my.button.on('push', function() {my.led.toggle()});
            }
          }).start();

    %h3 CoffeeScript
    :markdown
          :::javascript
          Cylon = require('cylon')

          Cylon.robot
            connection:
              name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

            devices:
              [
                {name: 'led', driver: 'led', pin: 13},
                {name: 'button', driver: 'button', pin: 2}
              ]

            work: (my) ->
              my.button.on 'push', -> my.led.toggle()

            .start()


    %h2 How to connect
    %h3 OSX
    %p Coming soon.

    %h3 Ubuntu

    %p Coming soon.

   
  %section.drivers
    %h2 Drivers
    %p
      Thanks to
      %b cylon.js
      and
      %b node.js
      it is possible to interact with several I/O hardware devices and interfaces connected to the arduino
      using a set of already defined and easy to use drivers, all of this thanks to the cylon.js architecture, in conjuction with the cylon-firmata
      adaptor (using the firmata communication protocol),
      which makes it even possible to swap the entire platform for something else like digispark, and keep using the same code you just wrote for
      arduino, this just by swapping a couple of lines in your program.
    %p
      Available drivers for the arduino platform are listed below, the drivers contain detailed documentation and examples of what kind
      physical computing (using cylon.js and node.js) you could be doing:

    .hardware
      .devices
        = partial "documentation/partials/analog-sensor"
        = partial "documentation/partials/button"
        = partial "documentation/partials/led"
        = #partial "documentation/partials/maxbotix"
        = partial "documentation/partials/motor"
        = partial "documentation/partials/servo"
        = partial "documentation/partials/blinkm"
        = #partial "documentation/partials/hmc6352-compass"
        = #partial "documentation/partials/wiichuck"
        = #partial "documentation/partials/wiiclassic"

