---
title: BeagleBone with Gobot
author: The Hybrid Group
page_title: BeagleBone
page_subtitle: "<a href='https://github.com/hybridgroup/gobot-beaglebone' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot-beaglebone/issues'>Issues</a>"
page_title_show: true
layout: documentation

button_driver: true
led_driver: true
---

%section.intro
  = image_tag "/images/devices/beaglebone.jpg", class: "display"
  .info_intro
    %p The BeagleBone is an ARM based single board computer, with many different GPIO interfaces built in.

    %p
      For more info about the BeagleBone platform click
      = succeed "." do
        = link_to "here", "http://beagleboard.org/Products/BeagleBone", target: :blank
  .clear 

%section.how-to
  %h2 How to install
  %p
    Installing Gobot for beaglebone is pretty easy.
  :markdown
        :::bash
        go get -u github.com/hybridgroup/gobot-beaglebone

  %h2 How to use
  %p
    This small program causes an LED to blink.
  :markdown
        :::go
        package main

        import (
          "github.com/hybridgroup/gobot"
          "github.com/hybridgroup/gobot-beaglebone"
          "github.com/hybridgroup/gobot-gpio"
        )

        func main() {
          beaglebone := new(gobotBeaglebone.Beaglebone)
          beaglebone.Name = "beaglebone"

          led := gobotGPIO.NewLed(beaglebone)
          led.Name = "led"
          led.Pin = "P9_12"

          work := func() {
            gobot.Every("1s", func() { led.Toggle() })
          }

          robot := gobot.Robot{
            Connections: []interface{}{beaglebone},
            Devices:     []interface{}{led},
            Work:        work,
          }

          robot.Start()
        }

%section.drivers
  %h2 Drivers
  %p All Gobot digital GPIO and i2c drivers listed below should work with the BeagleBone:

  .hardware
    %h2 GPIO Drivers
    .devices
      = partial "documentation/partials/devices_gpio_drivers"
    -#%h2 i2c Drivers
    -#.devices
      = partial "documentation/partials/devices_i2c_drivers"
      
