---
title: BeagleBone with Gobot
author: The Hybrid Group
page_title: BeagleBone
page_subtitle: "<a href='https://github.com/hybridgroup/gobot-beaglebone' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot-beaglebone/issues'>Issues</a>"
layout: page
---
.documentation
  %section.intro
    = image_tag "/images/beaglebone.jpg", class: "display"

    %p The BeagleBone is an ARM based single board computer, with many different GPIO interfaces built in.

    %p
      For more info about the BeagleBone platform click
      = succeed "." do
        = link_to "here", "http://beagleboard.org/Products/BeagleBone", target: :blank
    -#%p
      -#We have created a bootable image of Arch Linux that contains the needed drivers to use the Beaglebone Black with Cylon.js. You can download it from
      -#= succeed "." do
        -#= link_to "here", "https://s3.amazonaws.com/Cylon.js-images/beaglebone/Cylon.js-arch-armv7-1380751200.tar.xz", target: :blank

  %section.how-to
    %h2 How to install
    %p
      Installing Gobot for beaglebone is pretty easy.
    :markdown
          :::bash
          go get -u github.com/hybridgroup/gobot-beaglebone

    %h2 How to use
    %p
      This small program causes an LED to blink.
    :markdown
          :::go
          package main

          import (
            "github.com/hybridgroup/gobot"
            "github.com/hybridgroup/gobot-beaglebone"
            "time"
          )

          func main() {

            beaglebone := new(gobotBeaglebone.Beaglebone)
            beaglebone.Name = "Beaglebone"

            led := gobotBeaglebone.NewLed(beaglebone)
            led.Driver = gobot.Driver{
              Name: "led",
              Pin: "P9_12",
            }

            connections := []interface{} {
              beaglebone,
            }
            devices := []interface{} {
              led,
            }

            work := func(){
              gobot.Every(1000 * time.Millisecond, func(){ led.Toggle() })
            }
            
            robot := gobot.Robot{
                Connections: connections, 
                Devices: devices,
                Work: work,
            }

            robot.Start()
          }

  %section.drivers
    %h2 Drivers
    %p All Gobot digital GPIO and i2c drivers listed below should work with the BeagleBone:

    .hardware
      .devices
        = partial "documentation/partials/button"
        = partial "documentation/partials/led"
        = #partial "documentation/partials/blinkm"
        = #partial "documentation/partials/hmc6352-compass"
        = #partial "documentation/partials/wiichuck"
        = #partial "documentation/partials/wiiclassic"
