---
title: BeagleBone with Gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: BeagleBone
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot-beaglebone' class='repository' target='_blank'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot-beaglebone/issues' target='_blank'>Issues</a>"
page_title_show: true
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true

button_driver: true
led_driver: true
---
-content_for :js_accordeon do
  :javascript
    $("#platform-panel").addClass("active-panel");
    $("#platform-panel ul li:nth-child(3)").addClass("active-link");
    $(".accordion-docs dt:nth-child(7) a:nth-child(2) img").addClass("rotate");

%section.intro
  = image_tag "/images/devices/beaglebone.jpg", class: "display"
  .info-intro
    %p The BeagleBone is an ARM based single board computer, with many different GPIO interfaces built in.

    %p
      For more info about the BeagleBone platform click
      = succeed "." do
        = link_to "here", "http://beagleboard.org/Products/BeagleBone+Black", target: :blank
  .clear 

%section.how-to#HowToInstall
  %h2 How To Install
  %p
    Installing Gobot for beaglebone is pretty easy.
  :markdown
        :::bash
        go get github.com/hybridgroup/gobot && go install github.com/hybridgroup/platforms/beaglebone

  %h2 Cross compiling for the Beaglebone Black
  %p You must first configure your Go environment for arm linux cross compiling
  :markdown
        :::bash
        $ cd $GOROOT/src
        $ GOOS=linux GOARCH=arm ./make.bash --no-clean
  %p Then compile your Gobot program with
  :markdown
        :::bash
        $ GOARM=7 GOARCH=arm GOOS=linux go build examples/beaglebone_blink.go
  %p If you are running the official Angstrom or Debian linux through the usb->ethernet connection, you can simply upload your program and execute it with
  :markdown
        :::bash
        $ scp beaglebone_blink root@192.168.7.2:/home/root/
        $ ssh -t root@192.168.7.2 "./beaglebone_blink"

%section.how-to#HowToUse
  %h2 How To Use
  %p
    This small program causes an LED to blink.
  :markdown
        :::go
        package main

        import (
                "github.com/hybridgroup/gobot"
                "github.com/hybridgroup/gobot/platforms/beaglebone"
                "github.com/hybridgroup/gobot/platforms/gpio"
                "time"
        )

        func main() {
                gbot := gobot.NewGobot()

                adaptor := beaglebone.NewBeagleboneAdaptor("beaglebone")
                led := gpio.NewLedDriver(adaptor, "led", "P9_12")

                work := func() {
                        gobot.Every(1*time.Second, func() {
                                led.Toggle()
                        })
                }

                gbot.Robots = append(gbot.Robots,
                        gobot.NewRobot("blinkBot", []gobot.Connection{adaptor}, []gobot.Device{led}, work))
                gbot.Start()
        }

%section.drivers#Drivers
  %h2 Drivers
  %p All Gobot digital GPIO and i2c drivers listed below should work with the BeagleBone:

  .hardware
    %h2 GPIO Drivers
    .devices
      = partial "documentation/partials/devices_gpio_drivers"
    -#%h2 i2c Drivers
    -#.devices
      = partial "documentation/partials/devices_i2c_drivers"
      
