---
title: OpenCV with Gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: OpenCV
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot-opencv' target='_blank'  class='repository'>Repository</a> <a class='issues' target='_blank'  href='https://github.com/hybridgroup/gobot-opencv/issues'>Issues</a>"
page_title_show: true
layout: documentation
active_menu_platforms: true
page_title_show: true
subnav_platform: true
subnavjs: true

---
-content_for :js_accordeon do
  :javascript
    $("#platform-panel").addClass("active-panel");
    $("#platform-panel ul li:nth-child(8)").addClass("active-link");
    $(".accordion-docs dt:nth-child(7) a:nth-child(2) img").addClass("rotate");

%section.intro
  = image_tag "/images/devices/opencv.jpg", class: "display"
  .info-intro
    %p OpenCV is a real-time computer vision library.
    %p OpenCV (Open Source Computer Vision Library) is an open source computer vision and machine learning software library. OpenCV was built to provide a common infrastructure for computer vision applications and to accelerate the use of machine perception in the commercial products. Being a BSD-licensed product, OpenCV makes it easy for businesses to utilize and modify the code.

    %p
      For more info about OpenCV click 
      = succeed "." do
        = link_to "here", "http://opencv.org/", target: :blank

  .clear
  
%section.how-to#HowToInstall
  %h2 How To Install
  :markdown
    This package requires `opencv` to be installed on your system

  %h3 OSX
  :markdown
    To install `opencv` on OSX using Homebrew:

        :::bash
        $ brew tap homebrew/science && brew install opencv 

  %h3 Ubuntu
  %p 
    Follow the official 
    = link_to "OpenCV installation guide", "http://docs.opencv.org/doc/tutorials/introduction/linux_install/linux_install.html", taget: :blank
  
  %h3 Windows
  %p 
    Follow the official 
    = link_to "OpenCV installation guide", "http://docs.opencv.org/doc/tutorials/introduction/windows_install/windows_install.html#windows-installation", taget: :blank

  %p Now you can install the package with
  :markdown
        :::bash
        go get github.com/hybridgroup/gobot && go install github.com/hybridgroup/platforms/opencv


%section.how-to#HowToUse
  %h2 How To Use
  %p Example using the camera.
  :markdown
        :::go
        package main

        import (
            cv "github.com/hybridgroup/go-opencv/opencv"
            "github.com/hybridgroup/gobot"
            "github.com/hybridgroup/gobot/platforms/opencv"
        )

        func main() {
            gbot := gobot.NewGobot()

            window := opencv.NewWindowDriver("window")
            camera := opencv.NewCameraDriver("camera", 0)

            work := func() {
                gobot.On(camera.Events["Frame"], func(data interface{}) {
                    window.ShowImage(data.(*cv.IplImage))
                })
            }

            gbot.Robots = append(gbot.Robots,
                gobot.NewRobot("cameraBot", []gobot.Connection{}, []gobot.Device{window, camera}, work))

            gbot.Start()
        }

