---
title: Raspberry Pi with Artroo
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: Raspberry Pi
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot-raspi' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot-raspi/issues'>Issues</a>"
page_title_show: true
layout: documentation
active_menu_platforms: true
subnavjs: true

---

%section.intro
  = image_tag "/images/devices/raspi.jpg", class: "display"
  .info-intro
    %p The Raspberry Pi is an inexpensive and popular ARM based single board computer with digital & PWM GPIO, and i2c interfaces built in.

    %p
      For more info about the Raspberry Pi platform go to
      = succeed "." do
        = link_to "http://www.raspberrypi.org/", "http://www.raspberrypi.org/", target: :blank
  .clear

%section.how-to
  %h2 How to install
  %p If you do not have ruby installed, you'll need to do that first.
  %p
    Then install the gobot-raspi gem:
  :markdown
        :::bash
        sudo gem install gobot-raspi

  %h2 How to use
  %p
    This small program causes an LED to blink.
  :markdown
        :::go
        require 'gobot'

        connection :raspi, :adaptor => :raspi
        device :led, :driver => :led, :pin => 11

        work do
          every 1.second do
            led.toggle
          end
        end
  %p To run the examples, requires sudo access on the Raspberry Pi:

  :markdown
        :::bash
        sudo ruby examples/raspi_led.rb

  %h2 How to connect
  %h3 Connecting to Raspberry Pi GPIO
  %p
    This gem only works on a real Raspberry Pi. Do not bother trying on any other kind of
    computer it will not work. Also note you will need to connect actual circuits to the Raspberry Pi's
    GPIO pins.

  %h3 Enabling the Raspberry Pi i2c on raspbian
  %p You must add these two entries in your /etc/modules

  :markdown
        :::bash
        i2c-bcm2708
        i2c-dev

  %p You must also ensure that these entries are commented in your /etc/modprobe.d/raspi-blacklist.conf

  :markdown
        :::bash
        #blacklist spi-bcm2708
        #blacklist i2c-bcm2708

  %p Now restart your raspberry pi.

  %h3 Enabling PWM output on GPIO pins.

  %p
    You need to install and have pi-blaster running in the raspberry-pi, you can follow
    the instructions for pi-blaster install on our repo here:

  %a{ href:"https://github.com/hybridgroup/pi-blaster" } https://github.com/hybridgroup/pi-blaster

%section.drivers
  %h2 Drivers
  %p All gobot digital and PWM GPIO, and i2c drivers listed below should work with the Raspberry Pi:

  .hardware
    %h2 GPIO Drivers
    .devices
      // TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_gpio_drivers"
    %h2 i2c Drivers
    .devices
      = partial "documentation/partials/devices_i2c_drivers"
