---
page_title_show: true
layout: documentation
title: Examples
page_title: Examples
author: The Hybrid Group
description: Examples of using gobot with different hardware configurations
page_subtitle: How you can get started.
---

.examples
  %table
    %thead
      %th Example
      %th.links{:colspan => '1'} Links
    %tbody
      %tr
        %td blink
        %td.links= link_to 'Golang', '/documentation/examples/golang/blink'
      %tr
        %td hello
        %td.links= link_to 'Golang', '/documentation/examples/golang/hello'
      %tr
        %td hello_api
        %td.links= link_to 'Golang', '/documentation/examples/golang/hello_api'
      %tr
        %td sphero
        %td.links= link_to 'Golang', '/documentation/examples/golang/sphero'
      %tr
        %td sphero_api
        %td.links= link_to 'Golang', '/documentation/examples/golang/sphero_api'
      %tr
        %td sphero_master
        %td.links= link_to 'Golang', '/documentation/examples/golang/sphero_master'
