---
page_title_show: true
layout: documentation
title: Examples - Gobot - Golang framework for robotics, physical computing, and the Internet of Things
page_title: Examples
author: The Hybrid Group
description: Examples of using gobot with different hardware configurations
page_subtitle: How you can get started.
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $("#example-panel li:nth-child(1)").addClass("active-link");
    $(".accordion-docs dt:nth-child(13) a:nth-child(2) img").addClass("rotate");

.examples
  = partial "partials/gobot", locals: { name: "Gobot" }
  = partial "partials/ardrone", locals: { name: "ARDrone" }
  = partial "partials/beaglebone", locals: { name: "Beaglebone" }
  = partial "partials/digispark", locals: { name: "Digispark" }
  = partial "partials/firmata", locals: { name: "Firmata" }
  = partial "partials/joystick", locals: { name: "Joystick" }
  = partial "partials/leapmotion", locals: { name: "Leap Motion" }
  = partial "partials/neurosky", locals: { name: "Neurosky" }
  = partial "partials/opencv", locals: { name: "OpenCV" }
  = partial "partials/spark", locals: { name: "Spark" }
  = partial "partials/sphero", locals: { name: "Sphero" }

