%section.hardware
  %h2 General Purpose Input/Output (GPIO) Drivers
  Gobot's GPIO drivers work with several different platforms that support the required GPIO interfaces. For example, the Digispark.
  .devices
    = partial "/documentation/partials/devices_gpio_drivers"

  %h2 i2c Drivers 
  Gobot's i2c drivers work with several different platforms that support the required interfaces. For example, the Arduino.
  .devices
    = partial "/documentation/partials/devices_i2c_drivers"

  %h2 ARDrone Drivers
  .devices
    = partial "/documentation/partials/devices_ardrone_drivers"

  -#%h2 Crazyflie Drivers
  -#.devices
    = partial "/documentation/partials/devices_crazyflie_drivers"

  %h2 Joystick Drivers
  .devices
    = partial "/documentation/partials/devices_joystick_drivers"

  %h2 Leap Motion Driver
  .devices
    = partial "/documentation/partials/devices_leapmotion_drivers"

  -#%h2 Pebble Driver
  -#.devices
    = partial "/documentation/partials/devices_pebble_drivers"

  -#%h2 Roomba Driver
  -#.devices
    = partial "/documentation/partials/devices_roomba_drivers"

  %h2 Neurosky Mindware Driver
  .devices
    = partial "/documentation/partials/devices_neurosky_drivers"

  %h2 Sphero Driver
  .devices
    = partial "/documentation/partials/devices_sphero_drivers"
