%section.hardware
  %h2 General Purpose Input/Output (GPIO) Drivers
  Cylon's GPIO drivers work with several different platforms that support the required GPIO interfaces. For example, the Arduino. 
  -#and Digispark.
  .devices
    = partial "../partials/analog-sensor"
    = partial "../partials/button"
    = partial "../partials/led"
    =# partial "../partials/maxbotix"
    = partial "../partials/motor"
    = partial "../partials/servo"

  %h2 i2c Drivers 
  Cylon.js's i2c drivers work with several different platforms that support the required interfaces. For example, the Arduino.
  .devices
    =# partial "../partials/wiichuck"
    =# partial "../partials/wiiclassic"
    = partial "../partials/blinkm"
    = #partial "../partials/hmc6352-compass"

  %h2 ARDrone Drivers
  .devices
    = partial "../partials/ardrone-flight"
    = partial "../partials/ardrone-navigation"
    = #partial "../partials/ardrone-video"

  -#%h2 Leap Motion Driver
  -#.devices
    =# partial "../partials/leapmotion-driver"

  -#%h2 Pebble Driver
  -#.devices
    = #partial "../partials/pebble-driver"

  -#%h2 Roomba Driver
  -#.devices
    =# partial "../partials/roomba-driver"

  %h2 Sphero Driver
  .devices
    = partial "../partials/sphero-driver"
