%section.hardware
  .devices
    = partial "/documentation/partials/ardrone"
    = partial "/documentation/partials/arduino"
    =# partial "/documentation/partials/beaglebone"
    =# partial "/documentation/partials/crazyflie"
    = #partial "/documentation/partials/digispark"
    =# partial "/documentation/partials/joystick"
    =# partial "/documentation/partials/leapmotion"
    = #partial "/documentation/partials/pebble"
    = #partial "/documentation/partials/raspberry-pi"
    = #partial "/documentation/partials/roomba"
    = partial "/documentation/partials/sphero"


