---
hero: true
social: true
catcher: true

title: Gobot
author: The Hybrid Group
description: Gobot is a framework for robotics, physical computing, and the Internet of Things, written in the Go programming language.
layout: home

hero_title: "Go, Robot, Go! Go Powered Robotics"
hero_subtitle: "Gobot makes robotics <a href='/documentation/getting-started'>Simple</a> and <a href='/documentation/platforms'>Extensible</a>"

img_character: "<img src='images/elements/gophy.png'>"

catcher_phrase: Ready to build the next big thing with Go?
getting_started_button: "<a href='/documentation/getting-started' class='cta'> Get Started</a>"
---
%h2 About
%p 
  Gobot is a framework and set of libraries in the 
  =link_to "Go programming language", "http://golang.org/", target: "_blank" 
  for robotics, physical computing, and the Internet of Things.

%p It provides a simple, yet powerful way to create solutions that incorporate multiple, different hardware devices at the same time.

%p 
  Want to use Ruby on robots? Check out our sister project Artoo 
  =link_to "(http://artoo.io).", "http://artoo.io", target: :blank

%p 
  Want to use JavaScript? Check out our sister project Cylon 
  =link_to "(http://cylonjs.com).", "http://cylonjs.com", target: :blank

%h2  Meet The Code

%p Gobot makes commanding robots incredibly simple and fun.

%p All you need to get started is install the library with :  
:markdown
  `go get -u github.com/hybridgroup/gobot`.

%p Then install additional libraries for whatever hardware support you want to use from your robot. For example, `go get -u github.com/hybridgroup/gobot-sphero` to use Gobot with a Sphero.

%h2  Example
:markdown
      :::go
      package main

      import (
        "github.com/hybridgroup/gobot"
        "github.com/hybridgroup/gobot-sphero"
      )

      func main() {

        spheroAdaptor := new(gobotSphero.SpheroAdaptor)
        spheroAdaptor.Name = "Sphero"
        spheroAdaptor.Port = "/dev/rfcomm0"

        sphero := gobotSphero.NewSphero(spheroAdaptor)
        sphero.Name = "Sphero"

        work := func() {
          gobot.Every("2s", func() {
            sphero.Roll(100, uint16(gobot.Rand(360)))
          })
        }

        robot := gobot.Robot{
          Connections: []interface{} { spheroAdaptor },
          Devices:     []interface{} { sphero },
          Work:        work,
        }

        robot.Start()
      } 

%h2 Hardware Support
%p
  Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported:
  %ul
    %li
      = link_to "ARDrone", "http://ardrone2.parrot.com/", target:"_blank" 
      &lt;==&gt;
      = link_to "Adaptor", "/documentation/platforms/ardrone", target:"_blank" 
      (
      = link_to "repo", "https://github.com/hybridgroup/gobot-ardrone", target:"_blank" 
      )
    %li
      = link_to "Arduino", "http://www.arduino.cc/", target:"_blank" 
      &lt;==&gt;
      = link_to "Adaptor", "/documentation/platforms/arduino", target:"_blank" 
      (
      = link_to "repo", "https://github.com/hybridgroup/gobot-firmata", target:"_blank" 
      )
    %li
      = link_to "Beaglebone Black", "http://beagleboard.org/Products/BeagleBone+Black/", target:"_blank" 
      &lt;==&gt;
      = link_to "Adaptor", "/documentation/platforms/beaglebone", target:"_blank" 
      (
      = link_to "repo", "https://github.com/hybridgroup/gobot-beaglebone", target:"_blank" 
      )
    %li
      = link_to "Digispark", "http://digistump.com/category/1", target:"_blank"  
      &lt;==&gt;
      = link_to "Adaptor", "/documentation/platforms/digispark", target:"_blank"
      (
      = link_to "repo", "https://github.com/hybridgroup/gobot-digispark", target:"_blank" 
      ) 
    %li
      = link_to "Joystick", "http://en.wikipedia.org/wiki/Joystick", target:"_blank"  
      &lt;==&gt;
      = link_to "Adaptor/Driver", "/documentation/platforms/joystick", target:"_blank"
      (
      = link_to "repo", "https://github.com/hybridgroup/gobot-joystick", target:"_blank" 
      )
    %li
      = link_to "Leap Motion", "https://www.leapmotion.com/", target:"_blank"  
      &lt;==&gt;
      = link_to "Adaptor/Driver", "/documentation/platforms/leapmotion", target:"_blank"
      (
      = link_to "repo", "https://github.com/hybridgroup/gobot-leapmotion", target:"_blank" 
      )
    %li
      = link_to "Spark", "https://www.spark.io/", target:"_blank"  
      &lt;==&gt;
      = link_to "Adaptor", "/documentation/platforms/spark", target:"_blank" 
      (
      = link_to "repo", "https://github.com/hybridgroup/gobot-spark", target:"_blank" 
      )
    %li
      = link_to "Sphero", "http://www.gosphero.com/", target:"_blank"  
      &lt;==&gt;
      = link_to "Adaptor/Driver", "/documentation/platforms/sphero", target:"_blank" 
      (
      = link_to "repo", "https://github.com/hybridgroup/gobot-sphero", target:"_blank" 
      )

%p Support for many devices that use General Purpose Input/Output (GPIO) have a shared set of drivers provded using the cylon-gpio module:
%ul
  %li
    = link_to "GPIO", "https://en.wikipedia.org/wiki/General_Purpose_Input/Output" , target:"_blank" 
    &lt;==&gt; Drivers
    (
    = link_to "repo", "https://github.com/hybridgroup/gobot-gpio" , target:"_blank"
    )
    
    %ul 
      %li= link_to "Button", "/documentation/drivers/button" , target:"_blank" 
      %li= link_to "LED", "/documentation/drivers/led" , target:"_blank"  
      %li= link_to "Servo", "/documentation/drivers/servo" , target:"_blank"  

%p Support for devices that use Inter-Integrated Circuit (I2C) have a shared set of drivers provded using the gobot-i2c module:
%ul
  %li
    = link_to "I2C", "https://en.wikipedia.org/wiki/I%C2%B2C" , target:"_blank" 
    &lt;==&gt; Drivers
    (
    = link_to "repo", "https://github.com/hybridgroup/gobot-i2c" , target:"_blank"
    )
    
    %ul 
      %li= link_to "BlinkM", "/documentation/drivers/blinkm" , target:"_blank" 
      %li= link_to "Wii Nunchuck Controller", "/documentation/drivers/wiichuck" , target:"_blank" 


%p More platforms and drivers are coming soon...

%h2 Getting Started

:markdown
  Install the library with: `go get -u github.com/hybridgroup/gobot`
:markdown
  Then install additional libraries for whatever hardware support you want to use from your robot. For example, `go get -u github.com/hybridgroup/gobot-sphero` to use Gobot with a Sphero.
%p 
  Ready to build Go robots with Gobot? 
  =link_to "Get Started Here!", "", (menu_item("documentation/getting-started"))

%h2 API
%p Gobot includes a RESTful API to query the status of any robot running within a group, including the connection and device status, and execute device commands.

:markdown
  To activate the API, use the `Api` command like this:

      :::bash
      master := gobot.GobotMaster()
      gobot.Api(master)

  To specify the api port run your Gobot program with the `PORT` environment variable

      :::bash
      $ PORT=8080 go run gobotProgram.go



:markdown
  ## Be Part Of The Robot Evolution

  - Code on Github:   [https://github.com/hybridgroup/gobot](https://github.com/hybridgroup/gobot)
  - Join us on IRC:   `#gobotio @ irc.freenode.net`
  - Join us on our [Trello Board](https://trello.com/b/kQPsldtk/gobot).
